<h1><%= search_results.character_count %> Members</h1>
<% search_results.characters.each do |character| %>
  <ul class="character">
    <li class="name">Name: <%= character.name %></li>
    <li class="role">Role: <%= character.role %></li>
    <li class="house">House: <%= character.house %></li>
    <% if character.species %>
      <li class="species">Species: <%= character.species %></li>
    <% end %>
    <% if character.bloodstatus %>
      <li class="bloodstatus">Blood Status: <%= character.bloodstatus %></li>
    <% end %>
    <% if character.patronus %>
      <li class="patronus">Patronus: <%= character.patronus %></li>
    <% end %>
    <% if character.boggart %>
      <li class="boggart">Boggart: <%= character.boggart %></li>
    <% end %>
    <% if character.phoenix %>
      <li class="phoenix">Member of the Order of the Phoenix</li>
    <% end %>
    <% if character.dumbledoresarmy %>
      <li class="dumbledoresarmy">Member of Dumbledore's Army</li>
    <% end %>
  </ul>
<% end %>
